{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Склад{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'warehouse/css/style.css' %}">
</head>
<body>
    <header>
        {% include "partials/menu.html" %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; {% now "Y" %} Склад спортивного спорядження</p>
    </footer>
</body>
</html>
